/*GÉNÉRAL*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family:"Dancing Script", sans-serif;
}

h1, h2, h3{
  margin-bottom:20px;
  text-align: center;
}

a{
  color: #444;
  text-decoration: none;
}

p{
  margin-bottom: 10px;
  text-align: center;
}

form{
  text-align: center;
}

h1{
  text-align: center;
}

body{
  background-image: url('Photos/marbre.jpg');
  background-position: center;
  background-size: cover;
}

/*PRÉSENTATION*/

.Presentation div{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.Presentation img{
  width: 10cm;

}

.my-10{
  margin-top: 10px;
  margin-bottom: 10px;
}

.separator{
  margin:20px auto;
  height: 10px;
  width: 100px;
  background: #111;
}

.btn{
  display: inline-block;
  font-size: 14px;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 700;
  text-align: center;
}

.btn-primary{
  background: white;
  color: #222;
  text-align: center;
}

.btn-primary:hover{
  background: #222;
  color:white;
  text-align: center;
}

/*HEADER*/

.header{
  background:black;
  overflow:auto;
  line-height: 1.7em;
}

.header nav h1{
  float:left;
  padding: 20px;
  margin-bottom: 0;
}

.header nav h1 a{
  color:white;
}

.header nav ul{
  float:right;
  list-style:none;
}

.header nav ul li{
  float:left;
}

.header nav ul li a{
  color: white;
  padding: 20px;
  display:block;
}

.header nav ul li a:hover, .active{
  background: #444;
}

.header img{
  height: 2cm;
}

/*Proposition de valeur*/
.vp{
  width: auto;
  height: 800px;
  background:url("OK/1.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;

}

.vp-content{
  max-width: 600px;
  padding-top: 150px;
  color: white;
  margin: auto;
}

.vp-content h1{
  font-size: 50px;
}

.vp-content p{
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.9em;
}

/*...*/
.container{
  max-width: 1000px;
  display: block;
  margin: auto;
  text-align: center;
}

/*FEATURE*/
.features{
  overflow: auto;
  padding: 100px 0;
  text-align: center;
}

.feature{
  float: left;
  width: 50%;
}

/*...*/
.my-20{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.btn-dark{
  background: #222;
  color:white;
  text-align: center;
}

.btn-dark:hover{
  background: white;
  color: #222;
  border: 1px solid #222;
  text-align: center;
}

/*LOCATION*/
.reservation{
  padding: 100px 0px;
  text-align: justify;
}


/*FOOTER*/
footer{
  background: #222;
  color:white;
  padding: 30px 0;
  text-align: center;
}

footer p{
  margin-bottom: 0px;
}

footer img{
  width: 2cm;
}
/* FORMULAIRE */
form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 400px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
  text-align: center;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police dancing script sans serif */
  font: "Dancing Script", sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: 300px;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

.button {
  /* Pour placer le bouton à la même position que les champs texte */
  padding-left: 90px; /* même taille que les étiquettes */
}

button {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  margin-left: .5em;
}

/* Événement */
.galerie1 {
  width: 90%;
  /* flexbox manie les position des enfants*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.galerie1 div{
  width: 60%;
  height: auto;
}

.galerie1 img{
  width: 10cm;
}

/*BOUTIQUE*/
.Robes div{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.Robes img{
  width: 10cm;
}

/*Menu déroulant*/
